/* ----------------------- BASICS ----------------------- */
body {
  background: url(assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #050b0d-;
}

h1 {
  text-align: center;
  margin: 0 0 20px;
}

figure {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

figcaption {
  display: none;
}

p {
  line-height: 20px;
  margin: 0;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  border: none;
  background-color: rgb(230, 223, 223);
  font: 700 16px Arial;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  background-color: #a63e26;
}

/* ------------------------ EXTRA ----------------------- */
.hidden {
  opacity: 0;
}

/* ------------------------ MAIN ------------------------ */
main {
  max-width: 420px;
  background-color: #f2b872;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px black;
}

#dice-gif {
  position: relative;
  top: -100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results {
  margin-right: 20px;
}

#statisticsResults {
  margin-bottom: 20px;
}

#containerGraphic {
  /* background-color: lightgrey; */
  /* margin: 20px auto; */
}

.graphic {
  border: 1px solid grey;
  background-color: #cfc;
  height: 13px;
  margin: 5px;
  padding: 0;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1px;
}

/* -------------------- MEDIA QUERIE -------------------- */
@media (min-width: 460px) {
  .flex {
    justify-content: flex-start;
  }
}
